<template>
    <nav id="navbar" class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <router-link class="navbar-brand" to="/"><i class="material-icons"> home </i> Almacen central</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" to="/newProduct"><i class="material-icons">fiber_new</i> Nuevo
                        producto</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/showProducts"><i class="material-icons"> list </i> Listar
                        productos</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/about"><i class="material-icons"> supervised_user_circle </i>
                        Sobre nosotros</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>



<script>
export default {
    
}
</script>

<style scoped>
#navbar{
    margin-bottom: 20px
}
</style>
