<template>
    <div>
        <b-table responsive="ms" title="Productos" striped hover :items="productos" :fields="fields">

            <template v-slot:cell(price)="data">
                <span>{{ data.item.price | currency }}</span>
            </template>
            <template v-slot:cell(import)="data">
                <span>{{ data.item.price*data.item.units | currency }}</span>
            </template>
            <template v-slot:cell(Actions)="data">
                <button @click="$store.dispatch('incrementOneUnit',data.item.id)"
                    class="btn btn-dark material-icons">expand_less</button>
                <button v-bind:class="(data.item.units > 0)?'btn':'disabled'"
                    @click="$store.dispatch('decrementOneUnit',data.item.id)"
                    class="btn btn-dark material-icons">expand_more</button>
                <button @click="$store.dispatch('deleteProd',data.item)"
                    class="btn btn-danger material-icons">delete</button>
                <router-link :to="{ name: 'editProduct', params: {id: data.item.id}}">
                    <button class="btn btn-warning material-icons">edit</button>
                </router-link>
                <button class="btn btn-info material-icons" v-b-modal="`modal`+data.item.id">remove_red_eye</button>
                <b-modal v-bind:id="`modal`+data.item.id" title="Información del producto" ok-only>
                    <h3>Id:</h3>
                    <label>{{data.item.id}}</label>
                    <h3>Nombre:</h3>
                    <label>{{data.item.name}}</label>
                    <h3>Unidades:</h3>
                    <label>{{data.item.units}}</label>
                    <h3>Precio:</h3>
                    <label>{{data.item.price | currency}}</label>
                    <h3>Importe:</h3>
                    <label>{{ (data.item.units*data.item.price) | currency }}</label>
                </b-modal>
            </template>
        </b-table>
        <p class="lead float-right marginright5">
            Importe total del almacén:
            <strong>{{calcularImporte | currency}}</strong>
        </p>
    </div>
</template>

<script>

export default {
  filters: {
    currency(value) {
      if (!value) return "0 €";
      return value.toFixed(2) + " €";
    }
  },
  data: () => ({
    fields: [
      {
        key: "id",
        sortable: true
      },
      {
        key: "name",
        sortable: false
      },
      {
        key: "units",
        sortable: true
      },
      {
        key: "price",
        sortable: true
      },
      {
        key: "import",
        sortable: false
      },
      {
        key: "Actions",
        sortable: false
      }
    ]
  }),
  computed: {
    productos(){
      return this.$store.state.almacen.products;
    },
    calcularImporte() {
     return this.$store.getters.calcularImporte;
    }
  },
  created() {
    this.$store.dispatch('getAll');
  },
};
</script>
