<template>
    <div>
        <h3>Id:</h3>
        <label>{{product.id}}</label>
        <h3>Nombre:</h3>
        <label>{{product.name}}</label>
        <h3>Unidades:</h3>
        <label>{{product.units}}</label>
        <h3>Precio:</h3>
        <label>{{product.price}} €</label>
        <h3>Importe:</h3>
        <label>{{ (product.units*product.price) | currency }}</label>
    </div>
</template>



<script>
import APIService from './../model/API/apiController';
const Api = new APIService();
export default {
    data: () => ({
        product: {},
    }),
    mounted(){
        if (this.id) {
            const _this = this;
            Api.getId(this.id).then((productReceived) => {
                _this.product = productReceived.data;
            })
            .catch((error) => {
                alert(error);
            });
        }
    },
    props: [
        'id'
    ],
}
</script>
